# Maven target directory
/target/

# Eclipse IDE files
.classpath
.project
.settings/

# IntelliJ IDEA files
.idea/

# NetBeans IDE files
nb-configuration.xml

# Logs
*.log

# Compiled Java classes
*.class

# Package files
*.jar
*.war
*.ear

# Generated documentation
target/site/
dependency-reduced-pom.xml

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
